:root {
  /* Colors */
  --bg-primary: #27374D;
  --bg-divider: #e4e4e4;
  --bg-grey: #f8f9fb;
  /* Stares / Prioritys issues */
  --open: #ffb6c1;
  --in-progress: #ffd700;
  --waiting-feedback: #87ceeb;
  --solved: #98fb98;
  --closed: #f08080;
  --rejected: #d3d3d3;
  --assigned: #dda0dd;
  --duplicated: #bc8f8f;
}
html {
  font-size: 0.9rem !important;
}

a {
  text-decoration: none;
  color: #1867c0;
}

.cs-btn-login {
  margin-bottom: 10px;
}

.cs-icon {
  color: var(--icon-color);
}
.cs-container {
  margin-top: 40px;
  width: 90%;
}

.cs-main {
  margin-top: 16px;
}

.cs-header {
  border-bottom: solid 1.5px;
  border-color: var(--bg-divider);
  padding: 8px;
}

.cs-header-breadcrumb {
  border-bottom: solid 1.5px;
  border-color: var(--bg-divider);
}

.cs-header-form {
  border-radius: 5px 5px 0px 0px !important;
  padding: 10px 40px
}

.cs-header-list {
  border-radius: 5px 5px 0px 0px !important;
}

.cs-graph {
  border-radius: 5px;
  background-color: var(--bg-grey);
  margin-bottom: 16px;
  height: 40vh;
}

.cs-datalist {
  border-radius: 5px;
  background-color: var(--bg-grey);
  margin: 16px 0;
}

.cs-datalist-row {
  margin: 0 auto;
}

.cs-datalist-col-center {
  display: flex;
  justify-content: center;
}

.cs-list-header {
  background-color: var(--bg-white);
  border-radius: 5px;
}

.col-datatable {
  padding: 0 !important;
}

/* Refactor colunms */
@media screen and (min-width: 1280px) {
  .col-graph {
    flex: 0 0 32.5% !important;
    max-width: 32.5%;
  }

  .col-datatable {
    flex: 0 0 49.5% !important;
    max-width: 49.5%;
  }
}

/* Bar Stacked Graph */
#issuesGraph {
  border: 1px solid white;
  overflow: hidden;
  display: grid;
  width: 100%;
}

#open,
#in-progress,
#waiting-feedback,
#solved,
#closed,
#rejected,
#assigned,
#duplicated {
  height: 7px;
}

#open {
  color: var(--open);
  background-color: var(--open);
}

#in-progress {
  background-color: var(--in-progress);
}

#waiting-feedback {
  background-color: var(--waiting-feedback);
}

#solved {
  background-color: var(--solved);
}

#closed {
  background-color: var(--closed);
}

#rejected {
  background-color: var(--rejected);
}

#assigned {
  background-color: var(--assigned);
}

#duplicated {
  background-color: var(--duplicated);
}

#open-icon {
  color: var(--open);
}

#in-progress-icon {
  color: var(--in-progress);
}

#waiting-feedback-icon {
  color: var(--waiting-feedback);
}

#solved-icon {
  color: var(--solved);
}

#closed-icon {
  color: var(--closed);
}

#rejected-icon {
  color: var(--rejected);
}

#assigned-icon {
  color: var(--assigned);
}

#duplicated-icon {
  color: var(--duplicated);
}
