:root {
  /* Colors */
  --bg-divider: #e4e4e4;
  --bg-panel: #CFD8DC;
  /* --bg-primary: #1C2826;
  --bg-grey: #f8f9fb;
  --bg-panel: #CFD8DC;
  --font-header: #212121;
  --border-color: #000000; */
  /* Stares / Prioritys issues */
  --open: #ffb6c1;
  --in-progress: #ffd700;
  --waiting-feedback: #87ceeb;
  --solved: #98fb98;
  --closed: #f08080;
  --rejected: #d3d3d3;
  --assigned: #dda0dd;
  --duplicated: #bc8f8f;
  --unsigned: #B71C1C;
}

html {
  font-size: 0.9rem !important;
}

a {
  text-decoration: none;
  color: #1867c0;
}

.v-list {
  /* border-bottom: thin solid rgba(0, 0, 0, 0.12) !important; */
  padding: 5px 0 !important;
}

.v-table--density-compact>.v-table__wrapper>table>tbody>tr>th,
.v-table--density-compact>.v-table__wrapper>table>thead>tr>th,
.v-table--density-compact>.v-table__wrapper>table>tfoot>tr>th {
  color: var(--font-header) !important;
  background: var(--bg-panel) !important;
}


.v-table--density-default>.v-table__wrapper>table>tbody>tr>th,
.v-table--density-default>.v-table__wrapper>table>thead>tr>th,
.v-table--density-default>.v-table__wrapper>table>tfoot>tr>th {
  color: var(--font-header) !important;
  background: var(--bg-panel) !important;
}

.v-table--density-default>.v-table__wrapper>table>tbody>tr>td,
.v-table--density-default>.v-table__wrapper>table>thead>tr>td,
.v-table--density-default>.v-table__wrapper>table>tfoot>tr>td {
  background-color: var(--bg-grey) !important;
  height: calc(var(--v-table-row-height, 52px) + 0px);
}

.v-data-table-footer {
  padding: 8px 0 !important;
  /* background-color: var(--bg-panel) !important; */
}
.v-list-item--active>.v-list-item__overlay,
.v-list-item[aria-haspopup=menu][aria-expanded=true]>.v-list-item__overlay {
  border-radius: 5px;
  margin-right: 4px;
  margin-left: 3px;
}

.v-list-item__prepend {
  margin-left: 8px;
}

.v-card--variant-outlined {
  border: thin solid #9E9E9E !important;
}

.cs-btn-login {
  margin-bottom: 10px;
}

.cs-icon {
  color: var(--icon-color);
}

.cs-container {
  padding: 4rem;
}

.cs-main {
  margin-top: 16px;
}

.cs-header {
  height: 80px;
  border-bottom: solid 1.5px;
  border-color: var(--bg-divider);
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
}

.cs-header-breadcrumb {
  border-bottom: solid 1.5px;
  border-color: var(--bg-divider);
}

.cs-header-form {
  border-radius: 4px 4px 0px 0px !important;
  padding: 20px 40px
}

.cs-header-list {
  border-radius: 4px 4px 0px 0px !important;
}

.cs-graph {
  border-radius: 4px;
  margin-bottom: 16px;
  height: 40vh;
}

.cs-datalist {
  border-radius: 4px;
  background-color: var(--bg-grey);
  margin: 16px 0;
}

.cs-datalist-row {
  margin: 0 auto;
}

.cs-datalist-col-center {
  display: flex;
  justify-content: center;
}

.cs-list-header {
  background-color: var(--bg-white);
  border-radius: 5px;
}

.col-datatable {
  padding: 0 !important;
}

/* Refactor colunms */
@media screen and (min-width: 1280px) {
  .col-graph {
    flex: 0 0 32.5% !important;
    max-width: 32.5%;
  }

  .col-datatable {
    flex: 0 0 49.5% !important;
    max-width: 49.5%;
  }
}

/* Bar Stacked Graph */
#issuesGraph {
  border: 1px solid white;
  overflow: hidden;
  display: grid;
  width: 100%;
}

#unsigned,
#open,
#assigned,
#in-progress,
#waiting-feedback,
#solved,
#closed,
#rejected,
#duplicated {
  height: 7px;
}

#open {
  color: var(--open);
  background-color: var(--open);
}

#in-progress {
  background-color: var(--in-progress);
}

#waiting-feedback {
  background-color: var(--waiting-feedback);
}

#solved {
  background-color: var(--solved);
}

#closed {
  background-color: var(--closed);
}

#rejected {
  background-color: var(--rejected);
}

#assigned {
  background-color: var(--assigned);
}

#duplicated {
  background-color: var(--duplicated);
}

#unsigned {
  background-color: var(--unsigned);
}

.open-icon {
  color: var(--open);
}

.in-progress-icon {
  color: var(--in-progress);
}

.waiting-feedback-icon {
  color: var(--waiting-feedback);
}

.solved-icon {
  color: var(--solved);
}

.closed-icon {
  color: var(--closed);
}

.rejected-icon {
  color: var(--rejected);
}

.assigned-icon {
  color: var(--assigned);
}

.duplicated-icon {
  color: var(--duplicated);
}

.unsigned-icon {
  color: var(--unsigned);
}