<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codesentry</title>
  </head>
  <body>
    <h4>HI, {{{ user }}} </h4>
    <br />
    <p>Your account has been approved in Codesentry.</p>
    <p>To set your password, go to: <a href="{{{ link }}}">{{{ label }}}</a> </p>
    <p>And enter the following code: {{{ code }}}</p>
    <br />
    <img src="{{{ img }}}" alt="">
  </body>
</html>